.navbar-default {
	margin-bottom: 0px !important;
}

.jBlue {
	background-color: #1A237E;
	color: #D8D8D8;
}

.jGreen {
	background-color: #2E7D32;
	font-size: 12px;
	color: #D8D8D8;
}

.jLight {
	background-color: #D8D8D8;
	font-size: 12px;
}

.jumbotron {
	margin: 0px;
	text-align: center;
}

.introduction {
	font-size: 20em;
	color: #D8D8D8;
}

#name {
	color: #D8D8D8;
}

.row {
	padding: 20px;
	font-size: 12px;
}

.row-icon {
	font-size: 3em;
}

.rowTitle {
	font-size: 3.5em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 2%;
}

.rowDate {
	float: right;
	font-size: 1.5em;
	text-align: right;
	font-weight: bold;
}

.rowSubTitle {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	float: left;
}

.rowBody {
	font-size: 1.5em;
	text-align: left;
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
}

.quals {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 991px) {
	.qualifications {
		text-align: left;
		padding-left: 35%;
	}
}

.social {
	font-size: 8em;
	margin-left: 5%;
	margin-right: 5%;
	text-decoration: none;
	color: #D8D8D8;
	display: inline-block;
}

.social:hover{
	color: #365e66;
}

#projectsLink, #projectsLink:active, #projectsLink:visited, #projectsLink:hover {
	text-decoration: none;
}